**/target/** filter=lfs diff=lfs merge=lfs -text

**/typechain-types/** linguist-generated=true
**/target/** linguist-generated=true
**/dist/** linguist-generated=true
**/lib/ROUTES.ts linguist-generated=true
